* {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-color: #8EC5FC;
background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);

}

#navbar-title {
  font-family: Georgia, 'Times New Roman', Times, serif

  /* line-height: 80px; */
}

#navbar {
  display: flex;
 align-items: center;
  justify-content: space-between;
	padding: 20px 80px;
  top: 0;
  width: 100%;
  overflow: hidden;
}

/* #navbar-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} */


#navbar-links li {
  display: inline-block;
  list-style: none;
	padding: 0 20px;
  margin: 10px;
}

#navbar-links li a {
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 600;
  transition: 0.3s ease-in-out;
  display: inline-block;
  list-style: none;
	padding: 14px 16px;
  text-align: center;
  margin-right: 2em;
  line-height: 80px;
  padding: 10px;
	font-weight: bold;
}

#post-card {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  border-radius: 5px;
  border: 2px solid white;

  /* margin-bottom: 1rem;
  margin-right: 1rem; */
}

#single-btn {
  display: flex;
  flex-direction: row;
  width: 10%;
  justify-content: center;

}

.post-form-container {
  border: 2px solid white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
}

.delivery-button {
  display: flex;
  flex-direction: column;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em;
/* background-color: rgb(169, 239, 239); */
}

.auth-form-container {
  border: 2px solid white;
  width: 50%;
  margin-left: auto;
  margin-right: auto;

}

.login-form input {
  margin: 1em;
}

.register-form-container {
  border: 2px solid white;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.register-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.register-btn {
  margin: 10px;
}

.link-btn {
  margin-top: 1em;
  margin-bottom: 1em;
}

.message-card {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  border-radius: 5px;
  border: 2px solid white;
}

#my-post-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.my-single-post {
  border: 2px solid white;
  width: 50%;
  margin: 10px;
}

/* .App {
  text-align: center;
  background-color:green;
  }

  .label{
  display: block;
  font-size: larger;
  color: white;
  padding: 5px;
  }

  .input{
  font-size: larger;
  padding: 5px;
  margin: 2px;

  }
  .btn{
  color: white;
  background-color: red;
  border-radius: 5px;
  font-size: larger;
  display: block;
  padding: 5px;
  margin: 10px auto;
  }

  .messages{
  display: flex;
  justify-content: center;
  }

  .error{
  display: block;
  background-color: red;
  color: white;
  width: fit-content;
  height: 50px;
  padding: 5px;
  }

  .success{
  display: block;
  background-color: lightblue;
  color: black;
  width: fit-content;
  height: 50px;
  padding: 5px;
  } */
