* {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
  background-color: #8EC5FC;
background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);

}

#navbar-title {
  font-family: Georgia, 'Times New Roman', Times, serif

  /* line-height: 80px; */
}

#navbar {
  display: flex;
  justify-content: space-evenly;

}

#navbar a {
  display: flex;
  justify-content:right;
  float: right;
  margin-right: 20px;
  line-height: 80px;
}

#post-card {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  border-radius: 5px;
  border: 2px solid white;

  /* margin-bottom: 1rem;
  margin-right: 1rem; */
}

#single-btn {
  display: flex;
  flex-direction: row;
  width: 10%;
  justify-content: center;

}

.post-form-container {
  border: 2px solid white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
}

.delivery-button {
  display: flex;
  flex-direction: column;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em;
/* background-color: rgb(169, 239, 239); */
}

.auth-form-container {
  border: 2px solid white;
  width: 50%;
  margin-left: auto;
  margin-right: auto;

}

.login-form input {
  margin: 1em;
}

.register-form-container {
  border: 2px solid white;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.register-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.register-btn {
  margin: 10px;
}

.link-btn {
  margin-top: 1em;
  margin-bottom: 1em;
}

.message-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#my-post-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.my-single-post {
  border: 2px solid white;
  width: 50%;
  margin: 10px;
}

/* .App {
  text-align: center;
  background-color:green;
  }

  .label{
  display: block;
  font-size: larger;
  color: white;
  padding: 5px;
  }

  .input{
  font-size: larger;
  padding: 5px;
  margin: 2px;

  }
  .btn{
  color: white;
  background-color: red;
  border-radius: 5px;
  font-size: larger;
  display: block;
  padding: 5px;
  margin: 10px auto;
  }

  .messages{
  display: flex;
  justify-content: center;
  }

  .error{
  display: block;
  background-color: red;
  color: white;
  width: fit-content;
  height: 50px;
  padding: 5px;
  }

  .success{
  display: block;
  background-color: lightblue;
  color: black;
  width: fit-content;
  height: 50px;
  padding: 5px;
  } */
